<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar pt-5 justify-content-between mb-4">
            <h3 class="">Welcome, {{ user.first_name }} {{ user.last_name }}!</h3>
            <div>
                <a href="/account/edit/{{ user.id }}">Edit My Account</a>
                <a class="btn btn-danger ml-5" href="/logout">Logout</a>
            </div>
        </nav>
        <div class="row d-flex justify-content-around">
            <div class="col col-5">
                <h4 class="mb-4">Quotes</h4>
                {% for quote in quotes %}
                    <div class="border border-dark mb-3 p-3">
                        <p>{{ quote.author }}: "{{ quote.quote }}"</p>
                        <p>Posted By: <a href="/quote/{{ quote.user_id }}">{{ quote.poster_first_name }} {{ quote.poster_last_name }}</a></p>
                        <div class="d-flex align-items-center">
                            <p>{{ quote.likes }} people like this</p>
                            <a class="btn btn-success ml-3" href="/like_quote/{{ quote.id }}">Like!</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col col-5">
                <h4 class="">Add a Quote</h4>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="mt-4 mb-4 col-6 mx-auto alert-danger border rounded border-danger p-2">
                            {% for message in messages %}
                                <p class='pt-2 text-center text-danger'><em>{{ message }}</em></p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <form action="/quote/create" method="post">
                    <!-- <input type="hidden" name="user_id" value={{session.user_id}}> -->
                    <input type="hidden" name="user_id" value={{session.user_id}}>
                    <label for="author" class="form-label">Author:</label>
                    <input type="text" class="form-control mb-3" name="author">
                    <label for="quote" class="form-label">Quote:</label>
                    <textarea name="quote" class="form-control mb-3" cols="30" rows="5"></textarea>
                    <input type='submit' value='Submit' class="btn btn-success mt-4">
                </form>
            </div>
        </div>
    </div>
</body>
</html>